<div class="container-fluid">
    <h2>Kanban</h2>

    <div class="jumbotron">
        <h2>Criar lista:</h2>
        <form action="./lists" method="POST" accept-charset="utf-8">
            <label for="name">Nome: </label>
            <input type="text" name="name" value=""/>
            <label for="description">Descricao: </label>
            <input type="text" name="description" value=""/>
            <input type="submit" name="create" value="Inserir">
        </form>
        <br>
        <h2>Criar cartão:</h2>
        <form action="./cards" method="POST" accept-charset="utf-8">
            <label for="name">Nome: </label>
            <input type="text" name="name" value=""/>
            <label for="description">Descricao: </label>
            <input type="text" name="description" value=""/>
            <input type="submit" name="create" value="Inserir">
        </form>
    </div>
    <div class="row">

        {{#each lists}}
        <!--        {{#each this.cards}}-->
            <!--            <div class="card m-5">-->
            <!--                <div class="card-header">{{ ../name }}</div>-->
            <!--                <div class="card-body">-->
            <!--                    Content-->
            <!--                </div>-->
            <!--                <div class="card-footer">-->
            <!--                    <a href="/lists/destroy/{{ ../id }}" class="btn btn-primary">Excluir</a>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <p>{{name}}</p>-->
                <!--        {{/each }}-->
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ this.name }}</h2>
                        <p>{{ this.description }}</p>
                    </div>
                    <div class="card-body">
                        {{#each cards}}
                            <p>teste</p>
                        {{/each}}

                        <a class="btn btn-success" href="/cards/new?list={{ this.id }}">Novo cartão</a>
                    </div>
                    <div class="card-footer">
                        <a href="/lists/destroy/{{ this.id }}" class="btn btn-primary">Excluir</a>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="/lists/new" class="btn btn-success">Nova lista</a>
        </div>
    </div>
</div>
