<div class="container-fluid">
    <h2>Kanban</h2>
    <div class="row">

        {{#each lists}}
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ this.name }}</h2>
                        <p>{{ this.description }}</p>
                    </div>
                    <div class="card-body">
                        {{#each cards}}
                            <div class="card m-3">
                                <div class="card-body">
                                    <h4>{{ this.name }}</h4>
                                    <p>{{ this.description }}</p>
                                </div>
                                <div class="float-right">
                                    <div class="m-2 float-right">
                                        <a href="/cards/{{ this.id }}" class="btn btn-sm btn-primary">Editar</a>
                                    </div>
                                    <div class="float-right m-2">
                                        <!--                                        <a href="/cards/destroy/{{ this.id }}" class="btn btn-sm btn-danger">Excluir</a>-->
                                        <button id="{{ this.id }}" class="btn btn-sm btn-danger deleteCard" type="button">
                                            Excluir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                        <a class="btn btn-success" href="/cards/new?list={{ this.id }}">Novo cartão</a>
                    </div>
                    <div class="card-footer">
                        <a href="/lists/destroy/{{ this.id }}" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="/lists/new" class="btn btn-success">Nova lista</a>
        </div>
    </div>
</div>

<script src="/axios/dist/axios.js"></script>
<script>
    $btnsDeleteCard = document.querySelectorAll('.deleteCard');

    $btnsDeleteCard.forEach($btnDeleteCard => {
        $btnDeleteCard.addEventListener('click', (event) => {
            const cardId = event.target.id;
            axios
                .delete(`/cards/destroy/${cardId}`)
                .then(() => {
                  alert("O cartão foi excluído");
                })
                .catch(() => {
                  alert("Ocorreu um erro durante a exclusão, tente novamente mais tarde.");
                })
                .finally(() => window.location.reload());
        });
    });
</script>
